<footer id = "footer">
    <div>
        <h1>Uso de cookies</h1>
    </div>
    <div>
        <p>bla bla bla</p>
    </div>
    <div>
        <button id = "aceptar">Aceptar</button>
        <button id = "rechazar">Rechazar</button>
    </div>
</footer>

</body>
</html>